.vs/
*.txt
!Midterm Project/Midterm Project/F0RandomEvents.txt
!Midterm Project/Midterm Project/F1RandomEvents.txt
!Midterm Project/Midterm Project/F2RandomEvents.txt
!Midterm Project/Midterm Project/F3RandomEvents.txt
!Midterm Project/Midterm Project/F0Enemies.txt
!Midterm Project/Midterm Project/F1Enemies.txt
!Midterm Project/Midterm Project/F2Enemies.txt
!Midterm Project/Midterm Project/F3Enemies.txt
!Midterm Project/Midterm Project/weaponsList.txt
!Midterm Project/Midterm Project/F0Comments.txt
!Midterm Project/Midterm Project/F1Comments.txt
!Midterm Project/Midterm Project/F2Comments.txt
!Midterm Project/Midterm Project/F3Comments.txt